
projects/**/*.o
projects/**/*.d
projects/**/*.bin
projects/**/*.mk
projects/**/makefile
projects/**/*.lnk
projects/**/.settings
projects/**/*.bk61
.vscode/
*.code-workspace


projects/app_dsp/build/
!projects/app_dsp/bin/PTN101x_MCU.bin
projects/app_dsp/bin/dsp_code_data_NOALG.img
projects/app_dsp/bin/dsp_code_data.img
projects/app_dsp/bin/dsp_code_data.h



# ignore compile target file
projects/app_full_fun/debug/*
!projects/app_full_fun/debug/*.bat
!projects/app_full_fun/debug/*.exe
!projects/app_full_fun/debug/*.img
!projects/app_full_fun/debug/ptn101_mcu_dsp_bin_merge

projects/app_full_fun/build/*
!projects/app_full_fun/build/*.sh
!projects/app_full_fun/build/*.bat
!projects/app_full_fun/build/*.exe
!projects/app_full_fun/build/*.img
!projects/app_full_fun/build/ptn101_mcu_dsp_bin_merge
